html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  background-color: #16161d;
}

:local(.className) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6em;
  height: 1em;
  color: #f00;
  font-size: 8em;
  font-weight: bold;
  text-align: center;
}
